########### ******* Puppet Managed File ******* ###########
### This file is managed by puppet, any changes should be made on puppet
### /etc/puppet/modules/nrpe/files/sas2ircu/nrpe_check_sas2ircu.cfg
############################################################################

command[check_sas2ircu]=sudo /usr/local/lib/nagios/plugins/check_sas2ircu
